<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Digital Gold Bangladesh</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= (page === 'home') ? 'active' : '' %>">
                <a class="nav-link" href="<%= base_url_web %>home">Home <span class="sr-only"></span></a>
            </li>

            <li class="nav-item <%= (page === 'user-list') ? 'active' : '' %>">
                <a class="nav-link" href="<%= base_url_web %>user/user-list">User List<span class="sr-only"></span></a>
            </li>

            <li class="nav-item dropdown <%= (page === 'gold') ? 'active' : '' %>">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gold</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="<%= base_url_web %>gold/details/22">22 Karet</a>
                  <a class="dropdown-item" href="<%= base_url_web %>gold/details/21">21 Karet</a>
                  <a class="dropdown-item" href="<%= base_url_web %>gold/details/18">18 Karet</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Shop Summery</a>
                </div>
              </li>
        </ul>


        <div class="mt-2 mt-md-0" style="margin-right: 30px">
            <ul class="navbar-nav">
                <li class="nav-item dropdown float-right">
                    <a class="dropdown-item" href="<%= base_url_web %>logout">Logout </a>
                </li>
            </ul>
        </div>
    </div>
</nav>